.Home {
    // .container > .row > .col-sm > .card {
    //     width: 18rem;
    //     background: black;
    // }
    .card {
        width: 18rem;
        background: black;
        color: #fff;
    }
}
